/* Start Variables */
:root {
    --main-blue: #03a9f4;
    --main-bg: #f6f6f6;
    --sub-text: #777;
}
/* End Variables */
/* Start Box */
.flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.f-wrap {
    flex-wrap: wrap;
}
.d-ib {
    display: inline-block;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block !important;
    }
    .hide-mobile {
        display: none;
    }
}
/* End Box */
/* Start margin, padding */
.mt-25 {
    margin-top: 25px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-15 {
    margin-top: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.m-0 {
    margin: 0px;
}
.mt-0 {
    margin-top: 0px;
}
.mb-0 {
    margin-bottom: 0px;
}
.p-5 {
    padding: 5px;
}
.p-15 {
    padding: 15px;
}
/* End margin, padding */
/* Start text */
.txt-45 {
    font-size: 45px;
}
.lh-1-6 {
    line-height: 1.6;
}
.txt-c {
    text-align: center;
}
.txt-r {
    text-align: right;
}
.sub-txt {
    color: var(--sub-text);
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End text */
/* Start transition */
.tr-3 {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
/* End transition */
/* start Color */
.bg-gray {
    background-color: var(--main-bg);
}
.bg-blue {
    background-color: var(--main-blue);
}
.blue {
    color: var(--main-blue);
}
.white {
    color: white;
}
/* End Color */
/* Start Width */
.f-width {
    width: 100%;
}
/* End Width */
/* Start Components */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Components */
